.board-wrapper {
  .board {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 320px;
    height: auto;

    background: $secondary-color;
    border-top: 2px solid $primary-color;
    border-radius: 5px;
    margin: 1rem 1rem;
    font-size: 0.9rem;

    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
  }
}
